*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Karla Regular", sans-serif;
    font-size: 16px;
}

main, 
footer {
    font-size: 1rem;
}

h1,
h2 {
    font-family: "Karla Bold", sans-serif;
    font-size: 1.5rem;
}

/* footer style */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* font face */
@font-face {
    font-family: "Karla Regular";
    /* src: url(fonts/karla-regular.eot); */
    src: url("../../assets/fonts/Karla/static/Karla-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Karla Bold";
    src: url("../../assets/fonts/Karla/static/Karla-Bold.ttf");
    font-weight: 700;
}